<div class="@Class background-card" onclick="@CardClick">
	@ChildContent
</div>

@code {
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public EventCallback CardClick { get; set; }

	[Parameter] public string Class { get; set; }
}
