.notification-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .notification-info .title {
        font-weight: 600;
    }

    .notification-info .date {
        color: var(--black50);
        font-weight: 500;
        font-size: 14px;
    }

.notification-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.notification-card span {
    font-weight: 600;
}

.notification-message {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.notification-message span {
    font-weight: 400;
}