.popup-background {
    position: fixed;
    background-color: rgba(31, 31, 31, .5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    transition: background-color .5s;
    overflow: hidden;
}
.popup-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white);
    padding: 20px 24px;
    border-radius: 16px 16px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 90%;
    z-index: 9999;
    transition: height .5s;
}

.popup-topbar {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    align-items: center;
}
.popup-topbar h3 {
    grid-column-start: 2;
    text-align: center;
}
    .popup-topbar ::deep .close-button {
        align-self: flex-start;
        margin-left: auto;
        color: var(--black100);
        padding: 0;
    }
        .popup-topbar ::deep .close-button .mud-icon-size-medium {
            font-size: 24px !important;
        }

.popup-container ::deep .primary-button {
    margin-top: auto;
}