@inject NavigationManager NavigationManager

<div class="secondary-topbar-container">
	<div class="secondary-topbar-item left">
		<MudIconButton Icon="@Icons.Material.Outlined.West" Size="Size.Small" OnClick="@GoBack"></MudIconButton>
	</div>
	<div class="secondary-topbar-item middle">
		<span>@PageTitle</span>
	</div>
	@* <div class="secondary-topbar-item right">
	</div> *@
</div>

@code {
	[Parameter] public string PageTitle { get; set; }
	[Parameter] public EventCallback GoBack { get; set; }
}
