::deep .secondary-topbar-container {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--background);
    padding: 0 20px;
}

::deep .secondary-topbar-item {
    /*display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex: 1;
    font-weight: 500;
    font-size: 12px;*/
}

    ::deep .secondary-topbar-item.left {
        margin-right: auto;
    }
    ::deep .secondary-topbar-item.middle {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 600;
    }
    ::deep .secondary-topbar-item.right {
    }

::deep .mud-icon-size-small {
    width: 24px !important;
    fill: var(--black100);
}