@inject NavigationManager NavigationManager

<div class="secundary-topbar-container">
	<div class="secundary-topbar-item left">
		<MudIconButton Icon="@Icons.Material.Outlined.West" Size="Size.Small" OnClick="@(() => NavigationManager.NavigateTo("/"))"></MudIconButton>
	</div>
	<div class="secundary-topbar-item middle">
		<span>@PageTitle</span>
	</div>
	@* <div class="secundary-topbar-item right">
	</div> *@
</div>

@code {
	[Parameter] public string PageTitle { get; set; }
}
