@inject NavigationManager NavigationManager

<div class="topbar-container">
	<div class="topbar-item left" onclick="@GoToLoginPage">
		<MudIcon Icon="@Icons.Material.Outlined.Person" Size="Size.Small"></MudIcon>
		<span>Hi, John</span>
	</div>
	<div class="topbar-item middle">
		<MudImage Src="/img/jixbee-logo-zwart.png" Height="24" />
	</div>
	<div class="topbar-item right">
		<MudIconButton OnClick="OpenNotifications" Icon="@Icons.Material.Outlined.Notifications" Size="Size.Small" />
		<MudIconButton OnClick="OpenSettings" Icon="@Icons.Material.Outlined.Settings" Size="Size.Small" />
	</div>
</div>

@code {
	private void GoToLoginPage() 
	{
		NavigationManager.NavigateTo("/login");
	}

	private void OpenNotifications()
	{
		NavigationManager.NavigateTo("/notificaties");
	}

	private void OpenSettings()
	{
		NavigationManager.NavigateTo("/instellingen");
	}
}
