<div class="topbar-container">
	<div class="topbar-item left">
		<MudIcon Icon="@Icons.Material.Outlined.Person" Size="Size.Small"></MudIcon>
		<span>Hi, John</span>
	</div>
	<div class="topbar-item middle">
		<MudImage Src="/img/jixbee-logo-zwart.png" Height="24" />
	</div>
	<div class="topbar-item right">
		<MudIcon Icon="@Icons.Material.Outlined.Notifications" Size="Size.Small"></MudIcon>
		<MudIcon Icon="@Icons.Material.Outlined.Settings" Size="Size.Small"></MudIcon>
	</div>
</div>

@code {

}
