::deep .topbar-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    padding: 4px 20px 16px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: fit-content;
    z-index: 999;
}

::deep .topbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex: 1;
    font-weight: 500;
    font-size: 12px;
}

    ::deep .topbar-item.left {
        display: flex;
        justify-content: flex-start;
    }
    ::deep .topbar-item.middle {
    }
    ::deep .topbar-item.right {
        display: flex;
        justify-content: flex-end;
    }

::deep .mud-icon-size-small {
    width: 24px !important;
}