[custom-scope-identifier] .app-content {
    width: 100vw;
    padding: 20px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: calc(100vh - 44px);
}

/* MudTabs */
[custom-scope-identifier] .mud-tabs-tabbar-wrapper {
    transform: translateX(0px) !important;
}
[custom-scope-identifier] .mud-tabs-scroll-button {
    display: none;
}
[custom-scope-identifier] .mud-tabs-tabbar-content {
    margin: 0 -5px;
}
[custom-scope-identifier] .mud-tabs-tabbar-content .mud-tabs-tabbar-wrapper {
    width: auto;
    justify-content: space-between;
}
[custom-scope-identifier] .mud-tabs-tabbar.mud-tabs-rounded {
    /*transform: translate(-5px);*/
}
[custom-scope-identifier] .mud-tabs-tabbar .mud-tabs-tabbar-inner {
    min-height: 30px;
}
[custom-scope-identifier] .tab-filter {
    border-radius: 8px;
    color: var(--black100);
    font-weight: 500;
    padding: 4px 12px;
    font-size: 14px;
}
    [custom-scope-identifier] .tab-filter.mud-tab {
        color: var(--gs400);
        min-width: fit-content !important;
        min-height: 30px;
        padding: 0 5px;
        text-transform: none;
    }

    [custom-scope-identifier] .tab-filter.active-tab {
        background-color: var(--primarycolor100);
        color: var(--white);
    }

[custom-scope-identifier] .mud-tab.mud-tab-active:hover {
    background-color: var(--primarycolor100);
}
[custom-scope-identifier] .mud-tab:hover {
    background-color: transparent;
}

/* Available salary card */

.savings-card[custom-scope-identifier] {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
}

.available-salary[custom-scope-identifier] {
    display: flex;
    justify-content: space-between;
}

.available-salary-item[custom-scope-identifier] {
    display: flex;
    flex-direction: column;
    color: var(--black50);
    font-weight: 500;
}

.salary-amount[custom-scope-identifier] {
    font-size: 28px;
    font-weight: 600;
    color: var(--black100);
}

.salary-progress-bar[custom-scope-identifier] {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: var(--primarycolor15);
}
.salary-progress-fill[custom-scope-identifier] {
    width: 50%;
    height: 100%;
    border-radius: 3px;
    background-color: var(--secundarycolor100);
}

.total-withdraw[custom-scope-identifier] {
    color: var(--black50);
    font-weight: 700;
    margin-bottom: 12px;
}

.button[custom-scope-identifier] {
    background-color: var(--primarycolor100);
    color: var(--white);
    font-weight: 500;
    height: 38px;
    border-radius: 19px;
}

/* Menu Card */
.menu-card[custom-scope-identifier] {
    display: flex;
    flex-direction: column;
}

.menu-wrapper[custom-scope-identifier] {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.menu-item[custom-scope-identifier] {
    display: flex;
    align-items: center;
    gap: 16px;
}
.menu-item span[custom-scope-identifier] {
    margin-right: auto;
}

