/* _content/JixbeeRedesign/Components/Components/Card.razor.rz.scp.css */
[custom-scope-identifier] .background-card {
    background-color: var(--white);
    border-radius: 16px;
    padding: 20px;
}
/* _content/JixbeeRedesign/Components/Components/SecundaryTopbar.razor.rz.scp.css */
[custom-scope-identifier] .topbar-container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    background-color: var(--white);
    padding: 4px 0 16px 0;
}

[custom-scope-identifier] .topbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex: 1;
    font-weight: 500;
    font-size: 12px;
}

    [custom-scope-identifier] .topbar-item.left {
        display: flex;
        justify-content: flex-start;
    }
    [custom-scope-identifier] .topbar-item.middle {
    }
    [custom-scope-identifier] .topbar-item.right {
        display: flex;
        justify-content: flex-end;
    }

[custom-scope-identifier] .mud-icon-size-small {
    width: 24px !important;
}
/* _content/JixbeeRedesign/Components/Components/Topbar.razor.rz.scp.css */
[custom-scope-identifier] .topbar-container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    background-color: var(--white);
    padding: 4px 0 16px 0;
}

[custom-scope-identifier] .topbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex: 1;
    font-weight: 500;
    font-size: 12px;
}

    [custom-scope-identifier] .topbar-item.left {
        display: flex;
        justify-content: flex-start;
    }
    [custom-scope-identifier] .topbar-item.middle {
    }
    [custom-scope-identifier] .topbar-item.right {
        display: flex;
        justify-content: flex-end;
    }

[custom-scope-identifier] .mud-icon-size-small {
    width: 24px !important;
}
/* _content/JixbeeRedesign/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-adbde5f84z] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-adbde5f84z] {
}
/* _content/JixbeeRedesign/Components/Pages/Screens/Home.razor.rz.scp.css */
[custom-scope-identifier] .app-content {
    width: 100vw;
    padding: 20px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: calc(100vh - 44px);
}

/* MudTabs */
[custom-scope-identifier] .mud-tabs-tabbar-wrapper {
    transform: translateX(0px) !important;
}
[custom-scope-identifier] .mud-tabs-scroll-button {
    display: none;
}
[custom-scope-identifier] .mud-tabs-tabbar-content {
    margin: 0 -5px;
}
[custom-scope-identifier] .mud-tabs-tabbar-content .mud-tabs-tabbar-wrapper {
    width: auto;
    justify-content: space-between;
}
[custom-scope-identifier] .mud-tabs-tabbar.mud-tabs-rounded {
    /*transform: translate(-5px);*/
}
[custom-scope-identifier] .mud-tabs-tabbar .mud-tabs-tabbar-inner {
    min-height: 30px;
}
[custom-scope-identifier] .tab-filter {
    border-radius: 8px;
    color: var(--black100);
    font-weight: 500;
    padding: 4px 12px;
    font-size: 14px;
}
    [custom-scope-identifier] .tab-filter.mud-tab {
        color: var(--gs400);
        min-width: fit-content !important;
        min-height: 30px;
        padding: 0 5px;
        text-transform: none;
    }

    [custom-scope-identifier] .tab-filter.active-tab {
        background-color: var(--primarycolor100);
        color: var(--white);
    }

[custom-scope-identifier] .mud-tab.mud-tab-active:hover {
    background-color: var(--primarycolor100);
}
[custom-scope-identifier] .mud-tab:hover {
    background-color: transparent;
}

/* Available salary card */

.savings-card[custom-scope-identifier] {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
}

.available-salary[custom-scope-identifier] {
    display: flex;
    justify-content: space-between;
}

.available-salary-item[custom-scope-identifier] {
    display: flex;
    flex-direction: column;
    color: var(--black50);
    font-weight: 500;
}

.salary-amount[custom-scope-identifier] {
    font-size: 28px;
    font-weight: 600;
    color: var(--black100);
}

.salary-progress-bar[custom-scope-identifier] {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: var(--primarycolor15);
}
.salary-progress-fill[custom-scope-identifier] {
    width: 50%;
    height: 100%;
    border-radius: 3px;
    background-color: var(--secundarycolor100);
}

.total-withdraw[custom-scope-identifier] {
    color: var(--black50);
    font-weight: 700;
    margin-bottom: 12px;
}

/* Menu Card */
.menu-card[custom-scope-identifier] {
    display: flex;
    flex-direction: column;
}

.menu-wrapper[custom-scope-identifier] {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.menu-item[custom-scope-identifier] {
    display: flex;
    align-items: center;
    gap: 16px;
}
.menu-item span[custom-scope-identifier] {
    margin-right: auto;
}

/* _content/JixbeeRedesign/Components/Pages/Screens/Hours.razor.rz.scp.css */
[custom-scope-identifier] .app-content {
    width: 100vw;
    padding: 20px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: calc(100vh - 44px);
}

/* MudTabs */
[custom-scope-identifier] .mud-tabs-tabbar-wrapper {
    transform: translateX(0px) !important;
}
[custom-scope-identifier] .mud-tabs-scroll-button {
    display: none;
}
[custom-scope-identifier] .mud-tabs-tabbar-content {
    margin: 0 -5px;
}
[custom-scope-identifier] .mud-tabs-tabbar-content .mud-tabs-tabbar-wrapper {
    width: auto;
    justify-content: space-between;
}
[custom-scope-identifier] .mud-tabs-tabbar.mud-tabs-rounded {
    /*transform: translate(-5px);*/
}
[custom-scope-identifier] .mud-tabs-tabbar .mud-tabs-tabbar-inner {
    min-height: 30px;
}
[custom-scope-identifier] .tab-filter {
    border-radius: 8px;
    color: var(--black100);
    font-weight: 500;
    padding: 4px 12px;
    font-size: 14px;
}
    [custom-scope-identifier] .tab-filter.mud-tab {
        color: var(--gs400);
        min-width: fit-content !important;
        min-height: 30px;
        padding: 0 5px;
        text-transform: none;
    }

    [custom-scope-identifier] .tab-filter.active-tab {
        background-color: var(--primarycolor100);
        color: var(--white);
    }

[custom-scope-identifier] .mud-tab.mud-tab-active:hover {
    background-color: var(--primarycolor100);
}
[custom-scope-identifier] .mud-tab:hover {
    background-color: transparent;
}

/* Available salary card */

.savings-card[custom-scope-identifier] {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
}

.available-salary[custom-scope-identifier] {
    display: flex;
    justify-content: space-between;
}

.available-salary-item[custom-scope-identifier] {
    display: flex;
    flex-direction: column;
    color: var(--black50);
    font-weight: 500;
}

.salary-amount[custom-scope-identifier] {
    font-size: 28px;
    font-weight: 600;
    color: var(--black100);
}

.salary-progress-bar[custom-scope-identifier] {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: var(--primarycolor15);
}
.salary-progress-fill[custom-scope-identifier] {
    width: 50%;
    height: 100%;
    border-radius: 3px;
    background-color: var(--secundarycolor100);
}

.total-withdraw[custom-scope-identifier] {
    color: var(--black50);
    font-weight: 700;
    margin-bottom: 12px;
}

/* Menu Card */
.menu-card[custom-scope-identifier] {
    display: flex;
    flex-direction: column;
}

.menu-wrapper[custom-scope-identifier] {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.menu-item[custom-scope-identifier] {
    display: flex;
    align-items: center;
    gap: 16px;
}
.menu-item span[custom-scope-identifier] {
    margin-right: auto;
}

/* _content/JixbeeRedesign/Components/Pages/Screens/Login.razor.rz.scp.css */
[custom-scope-identifier] .app-content {
    width: 100vw;
    padding: 20px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

[custom-scope-identifier] .login-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 28px;
}

[custom-scope-identifier] .login-title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

[custom-scope-identifier] .login-title span {
    color: var(--primarycolor100);
}

[custom-scope-identifier] .input-field-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
[custom-scope-identifier] .input-field-wrapper .icon-button {
    position: absolute;
    right: 12px;
    top: 23.5px;
    transform: translateY(-50%);
}
    [custom-scope-identifier] .input-field-wrapper .mud-link.mud-link-underline-hover {
        font-size: 13px;
        align-self: flex-end;
    }

[custom-scope-identifier] .mud-input-adornment-start.mud-input-root-filled-shrink .mud-icon-root.mud-svg-icon {
    fill: var(--black33) !important;
}

[custom-scope-identifier] .mud-input > input.mud-input-root.mud-input-root-filled.mud-input-root-adorned-start::placeholder {
    color: var(--black50);
    font-weight: 500;
}

[custom-scope-identifier] .mud-link.mud-link-underline-hover {
    text-align: center;
}

[custom-scope-identifier] .primary-button {
    height: 48px !important;
    border-radius: 24px !important;
}

[custom-scope-identifier] .information-text {
    color: var(--black50);
    font-weight: 500;
    text-align: center;
    margin: auto 40px 0 40px;
}
